<%- include('./layout/header') %>

<div class="carousel-inner">
  <div style="margin-left: 15vh">
    <h2>Routes</h2>
    <%- include('./animals/animalAPI') %>
    
  </div>
  <div style="margin-left: 15vh">
    <%- include('./foods/foodAPI') %>
  </div>

  <div style="margin-left: 15vh">
    <%- include('./Class/classAPI') %>
  </div>

  <div style="margin-left: 15vh">
    <%- include('./Habitats/habitatsAPI') %>
  </div>

  <div style="margin-left: 15vh">
    <%- include('./animalfood/animalfoodAPI') %>
  </div>
  
  <div style="margin-left: 15vh">
    <%- include('./User/userAPI') %>
  </div>

  <div style="margin-left: 15vh">
    <%- include('./animalUser/animaluserAPI') %>
  </div>

  
</div>

<%- include('./layout/footer') %>
